{
   "root": true,
   "env": {
      "browser": true,
      "node": true
   },
   "parser": "@babel/eslint-parser",
   "parserOptions": {
      "sourceType": "module"
   },
   "extends": ["@nuxtjs/eslint-config-typescript"]
}
