{
   "semi": false,
   "editor.formatOnSave": true,
   "arrowParens": "always",
   "printWidth": 120,
   "tabWidth": 3,
   "[javascript]": {
      "editor.formatOnSave": true
   },
   "plugins": ["prettier-plugin-tailwindcss"]
}
